.banner {
  background-image: url(banner.jpg);
}

.bannercontent {
  height: 400px;
  flex-direction: column;
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
}
.tagline{
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}